{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}
<h2>Ingredients</h2>
<a href="{% url 'create_ingredient' %}">Add a New Ingredient</a>
    <table>
        <tr>
            <td>Name</td>
            <td>Quantity</td>
            <td>Unit</td>
            <td>Price per unit</td>
        </tr>
        {% for ingredient in object_list %}
            <tr>
                <td>
                    <a href="{% url "update_ingredient" ingredient.id %}">{{ ingredient.name }}</a>
                </td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.unit_price|stringformat:".2f" }}</td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}