header{
    background-color: aquamarine;
}
.main_title{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item{
    color: black;
    font-size: larger;
    font-weight: bold ;
    padding-right: 5px;
}

.submenu{
    color: White;
    background-color: darkgreen;
    padding: 20px;

}

.link{
    color: black;
    font-style: oblique;
    margin: 50px;   
}