header {
    background-color: lightblue;
    position:fixed;
    width:100%;
    z-index:10;
}

nav {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    
}

nav li {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    width:150px;    
}

nav a {
    color: black;
}

body {
    background-color: snow;
    text-align: center;
}

main {
    position: relative;
    top: 150px;
}

footer {
    position: relative;
}

.about-me {
    margin: 10px auto;
}

.academic {
    margin: 10px auto;
}

.academic li{
    padding: 10px;
    font-weight: normal;
}